<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>iPortfolio Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio
  * Updated: Jul 27 2023 with Bootstrap v5.3.1
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="image/Ms.Dipti_Jadhav2.jpg" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Dipti Jadhav</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
          <li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Services</span></a></li>
          <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Dipti Jadhav</h1>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <p>Currently pursuing a Ph.D in the compelling field of Human Machine Interaction.</p>
          
             <p>15 years of expertise and excellence in teaching various computer engineering
            subjects such as Human Machine Interaction, Computer Graphics, Image Processing, Web
            Technology, and Quantitative Analysis to undergraduate Computer Engineering students.</p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="image/Ms.Dipti Jadhav(profile).jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Human Computer Interaction(HCI) expert</h3>
            <p class="fst-italic">
              Assistant Professor at Don Bosco Institute of Technology</b>
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                 
                  
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>9223370153</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Mumbai,India</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>M.E. Information Technology</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>PhEmailone:</strong> <span>dipti_jadhav13@yahoo.co.in</span></li>
                  
                </ul>
              </div>
            </div>
            <p>
              A dynamic and motivated educator with a special interest in Human-Computer
              Interaction, I am passionate about creating innovative solutions that address problems
              and opportunities by understanding the needs, contexts, behaviors, and emotions of
              people. Currently pursuing a Ph.D. in Human-Machine Interaction, my research focuses
              on exploring and addressing the distinct challenges encountered by individuals with
              learning disabilities.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <!-- <section id="facts" class="facts">
      <div class="container">

        <div class="section-title">
          <h2>Facts</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row no-gutters">

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Happy Clients</strong> consequuntur quae</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="count-box">
              <i class="bi bi-journal-richtext"></i>
              <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Projects</strong> adipisci atque cum quia aut</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="count-box">
              <i class="bi bi-headset"></i>
              <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Hours Of Support</strong> aut commodi quaerat</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="count-box">
              <i class="bi bi-people"></i>
              <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Hard Workers</strong> rerum asperiores dolor</p>
            </div>
          </div>

        </div>

      </div>
    </section>End Facts Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Skills</h2>
          <p>As an educator,I actively explored and implemented innovative tools and methodologies to enhance creative thinking skills.</p>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6" data-aos="fade-up">

            <div class="progress">
              <span class="skill">User-centered design <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill"> UI <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">UX <i class="val">85%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          

          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
          <p>I am currently an Educator at Don Bosco Institute of Technology(DBIT), Mumbai.</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Sumary</h3>
            <div class="resume-item pb-0">
              <h4>Dipti Jadhav</h4>
              <p><em>Human Computer Interaction(HCI) Expert with over 15+ Years of Experience in Teaching</em></p>
              <ul>
                <li>Mumbai, India</li>
                <li>+91 9223370153</li>
                <li>dipti_jadhav13@yahoo.co.in</li>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Master of Engineering in Information Technology  </h4>
              <h5>to do</h5>
              <p><em>to do</em></p>
              <p>to do</p>
              </div>
            <div class="resume-item">
              <h4>Bachelor of Fine Arts &amp; Graphic Design</h4>
              <h5>2010 - 2014</h5>
              <p><em>Rochester Institute of Technology, Rochester, NY</em></p>
              <p>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</p>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Assistant professor</h4>
              <h5>November 2007 - Present</h5>
              <p><em>Don Bosco Institute of Technology (Computer Engineering), Kurla, </em></p>
              
            </div>
            <div class="resume-item">
              <h4>Lecturer</h4>
              <h5>June 2005 to June 2007</h5>
              <p><em>Sanjivani K.B.P. Polytechnic, Kopargaon, Ahmednagar</em></p>
              
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Certification</h2>
          
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title"></h3>
            <div class="resume-item">
              
              <h4>“Intro to AR/VR/MR/XR: Technologies, Applications & Issues (with Honors)”</h4>
              <p><em>Coursera, Issued Jun 2023</em></p>
              </div>
              <div class="resume-item">
              
              <h4>"Introduction to Augmented Reality and ARCore"</h4>
              <p><em>Coursera, Issued May</em></p>
              </div>
              <div class="resume-item">
                <h4>“Creative problem solving, innovation, and meaningful R&D”</h4>
                <p><em>AICTE NEAT AICTE NEAT Issued Aug 2022</em></p>
               </div>
               
              
               
               <div class="resume-item">
                <h4>“Design Thinking for Innovation”, University of Virginia"</h4>
                <p><em>Certificate earned on May 28,2016
                </em></p>
               </div>
               <div class="resume-item">
                <h4>"Information Design by the University of California, San Diego on Coursera"</h4>
                <p><em>Issued on March 28, 2016</em></p>
               </div>
               <div class="resume-item">
                <h4>"Designing, Running, and Analyzing Experiments by the University of California, San
                  Diego on Coursera"</h4>
                <p><em>Certificate earned on March 20, 2016</em></p>
               </div>
               <div class="resume-item">
                <h4>"Social Computing by the University of California, San Diego on Coursera"</h4>
                <p><em>Issued on February 11, 2016</em></p>
               </div>
               <div class="resume-item">
                <h4>"User Experience: Research & Prototyping by the University of California, San Diego on Coursera"</h4>
                <p><em>Certificate earned on January 4, 2016</em></p>
               </div>
               <div class="resume-item">
                <h4>"Input and Interaction by University of California, San Diego on Coursera"</h4>
                <p><em>Certificate earned on November 20, 2015</em></p>
               </div>
               <div class="resume-item">
                <h4>"Human-Centered Design: an Introduction by the University of California, San Diego on Coursera"</h4>
                <p><em>Certificate earned on November 1, 2015</em></p>
               </div>
               <div class="resume-item">
                <h4>"Design Principles: an Introduction by the University of California, San Diego on Coursera"</h4>
                <p><em>Certificate earned on October 4, 2015</em></p>
               </div>
               
            </div>
            </div>
            </div>



            <section id="resume" class="resume">
              <div class="container">
        
                <div class="section-title">
                  <h2>Research and Publications</h2>
                  
                  
                </div>
        
                <div class="row">
                  <div class="col-lg-6" data-aos="fade-up">
                    <h3 class="resume-title">Research Fundings</h3>
                    <div class="resume-item">
                      
                      <h4>IOT for emergent and resource constraint people-Year 2017</h4>
                      <p><em>Minor Research (Rs.30,000) funded by Mumbai University</em></p>
                      </div>
                      <div class="resume-item">
                      
                      <h4>Gesture Aided Speech for Deaf and Mute-Year 2015</h4>
                      <p><em>Minor Research (Rs.40,000) funded by Mumbai University</em></p>
                      </div>
                      </div>
                      </div>

                      <div class="row">
                        <div class="col-lg-6" data-aos="fade-up">
                          <h3 class="resume-title">Publications</h3>
                          
                            
                      <div class="resume-item">
                        <h4>Voice for the mute
                          </h4>
                          <h5>A. K. Tripathy, D. Jadhav, S. A. Barreto, D. Rasquinha and S. S. Mathew</h5>
                          <p><em>Technologies for Sustainable Development (ICTSD), 2015 International Conference on, Mumbai,
                            2015, pp. 1-6. doi: 10.1109/ICTSD.2015.7095846</em></p>
                      </div>
                       
                      
                       
                       <div class="resume-item">
                        <h4>Open Road tolling in India by pattern recognition</h4>
                          <h5>D. Jadhav and M. Sabnis</h5>
                          <p><em>Technologies for
                            Sustainable Development (ICTSD), 2015 International Conference on, Mumbai, 2015, pp. 1-5
                            doi: 10.1109/ICTSD.2015.7095911</em></p>
                        
                        
                       </div>
                       <div class="resume-item">
                        <h4>Gesture Aided Speech for Deaf and Mute</h4>
                          <h5>Dipti Jadhav, Amiya Kumar Tripathy</h5>
                          <p><em>In Published in 3rd
                            International Conference for Convergence in 2018 DOI:10.1109/i2ct.2018.8529411</em></p>
                       
                       </div>
                       <div class="resume-item">
                        <h4>Interactive Tactile Graphics for the blind,Amey More</h4>
                        <h5>Gary Mendonca , RohanIngale , Chandni
                          Rajendran, DiptiJadhav and Mayura Gavhane</h5>
                          <p><em>International Journal of Advanced Research (IJAR)</em></p>
                        
                       </div>
                       <div class="resume-item">
                        <h4>Gesture Aided Voice for Voiceless</h4>
                          <h5>Dipti Jadhav, Tejaswini Koilakuntla, SonamM.MutalikDesai,
                            RamyaRamakrishna</h5>
                            <p><em>Intelligent Human Computer Interaction 10th Internation Conference, IHCI
                              2018, Allahabad, India, December 7–9, 2018, Proceedings and included as chapter in Springer
                              LNCS.</em></p>
                        
                       </div>
                       <div class="resume-item">
                        <h4>Cost Optimized Navigation System for
                          Multimodal Routes</h4>
                          <h5>D. Jadhav, G. Thomas, W. Lewis and D. George</h5>
                          <p><em> 2019 IEEE 5th International Conference for Convergence in Technology
                            (I2CT), Bombay, India, 2019, pp. 1-5, doi: 10.1109/I2CT45611.2019.9033936.</em></p>
                       </div>
                       <div class="resume-item">
                        <h4>Class Attendance Management System using Facial Recognition</h4>
                        <h5> Clyde Gomes, Sagar
                          Chanchal, Tanmay Desai and Dipti Jadhav</h5>
                       </div>
                       <div class="resume-item">
                        <h4>A Revolutionary
                          Navigation/Visual Aid for the Visually Impaired</h4>
                        <h5>Fernandes, S., D’souza, J., Kattikaren, A., Jadhav, D. (2022). NAYAN-DRISHTI</h5>
                        <p><em>In: Fong, S., Dey, N., Joshi, A. (eds) ICT
                          Analysis and Applications. Lecture Notes in Networks and Systems, vol 314. Springer, Singapore.
                          https://doi.org/10.1007/978-981-16-5655-2_31</em></p>
                       </div>
                       <div class="resume-item">
                        <h4>R-CTOS: Real-Time Clothes Try-
                          on System Using OpenCV</h4>
                        <h5> D. Davis, D. Gupta, X. Vazacholil, D. Kayande and D. Jadhav</h5>
                        <p><em>2022 2nd Asian Conference on Innovation in Technology
                          (ASIANCON), Ravet, India, 2022, pp. 1-4, doi: 10.1109/ASIANCON55314.2022.9909352.</em></p> 
                       </div>
                       <div class="resume-item">
                        <h4>Virtual Canvas for Interactive Learning using
                          OpenCV</h4>
                          <h5>P. Rai, R. Gupta, V. Dsouza and D. Jadhav</h5>
                          <p><em>2022 IEEE 3rd Global Conference for Advancement in Technology (GCAT), Bangalore,
                            India, 2022, pp. 1-5, doi: 10.1109/GCAT55367.2022.9971903.</em></p>
                       </div>
                       
                       
                    </div>
                    </div>
                    </div>
      
   
    
           

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
        </div>

        <div class="row" data-aos="fade-in">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Mumbai, India</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>dipti_jadhav13@yahoo.co.in</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+91 9223370153</p>
              </div>

              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.601328623744!2d72.88640741421278!3d19.081258256767303!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c8866a456c9f%3A0x8d1745d15baac575!2sDon%20Bosco%20Institute%20Of%20Technology!5e0!3m2!1sen!2sin!4v1627036531450!5m2!1sen!2sin" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>DBIT Kurla</span></strong>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
        Designed by Comps Dept Website Team
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/typed.js/typed.umd.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>